LLM_API_KEY="xxx"
MINIMAX_API_KEY="xxx"
MINIMAX_TTS_MODEL="speech-2.6-hd"

ENV=development
APP_NAME=who-is-spy
ALLOW_ORIGINS=["http://localhost:5173"]

PG_HOST=localhost
PG_PORT=5432
PG_DB=who_is_spy
PG_USER=postgres
PG_PSW=postgres
PG_CONN_MAX=10

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PSW=